{% extends 'base.html.twig' %}

{% block body %}
<div style="padding: 10px">
    This is the backed server, visit /api to consume the api <br>
    Webmaster: Diego Rodíguez Riera (i62rorid@uco.es) <br>
</div>
{% endblock %}
